:root {
    --my-start-width: 0;
    --rotationUp: -90deg;
    --max-window-width-minus: 0;
}

* {
  padding: 0;
  margin: 0;
}

body{
  overflow: hidden;
}

#game{
    height: 100vh;
    border:1px solid #ddd;
    margin:auto;
    overflow: hidden;
    display: block;
    background: #7de6f1;
}

#block{
     /* background: #444; */
  height:100%;
width: 50px;
  position: relative;
      left: -50px;
  animation: block 4s infinite linear;
  /* -webkit-animation: block 1s infinite linear; */

  background: rgb(0,36,2);
background: linear-gradient(90deg, rgba(0,36,2,1) 0%, rgba(31,95,23,1) 18%, rgba(60,190,102,1) 82%, rgba(0,255,52,1) 100%);
    border: 1px solid #444;
}

@keyframes block {
  0%{left:var(--my-start-width)};
  100%{left:-100px};
}

@keyframes rotateBack {
  0%{transform:rotate(-45deg)};
  100%{transform: rotate(90deg);};
}
/* 
@-webkit-keyframes block {
  0%{left:400px};
  100%{left:-50px};
} */

#hole{
         width: 52px;
  height: 230px;
  background: #7de6f1;
  position: relative;
      left: -50px;
  top:-500px;
  animation: block 4s infinite linear;
}

#hole::before{
    content: "";
   background: #213f27;
    height: 5px;
    width: 110%;
    position: absolute;
    left: -2px;
    border-radius: 30%;
    top: -2px;
}

#hole::after{
 content: "";
    background: #213f27;
    height: 5px;
    width: 110%;
    position: absolute;
    left: -2px;
    border-radius: 30%;
    bottom: -2px;
}

#character{
  width:100px;
position: absolute;
/* background:blue; */
top:100px;
left:100px;
border-radius: 50%;
transform: rotate(-35deg);
/* animation: rotateBack 0.5s infinite linear; */
}

/* #character img{
     width: 100px;
     position: absolute;
top:100px;
left:100px;
} */

#ScoreText{
      position: absolute;
    padding: 15px;
    margin: 10px;
    border: 1px dashed #555;
    border-radius: 20%;
}

#resume{
     height: 20px;
    width: 50px;
    position: absolute;
    top: 80px;
    left: 10px;
}


#dialog{
 position: relative;
     font-size: 25px;
}

#center{
  display: none;
    top: 50%;
    left: 50%;
    position: absolute;
    
transform: translateX(-50%) translateY(-50%);
}

/* #ground{
  border-top: 1px solid #444;
width: 100%;
    height: 100px;
    background-image: url(/assets/ground.png);
    background-repeat: repeat;
    background-attachment: fixed;
    position: absolute;
    background-position: 2700% -15.5%;
    bottom: 0;
    background-color: #797541;
    animation: groundmoving 3.75s infinite linear;
}

@keyframes groundmoving {
  100%{background-position:0% -15.5%};
} */

